<h1> Burgers!</h1>

<h2> Add a Burger</h2>

<ul>
    {{#each burgers}}
        {{#unless devour}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2> Devour a Burger</h2>
<ul>
    
    {{#each burgers}}
        {{#if devour}}
            {{> burgers/burger-block devour=false}}
            {{!-- //check on this eaten --}}
        {{/if}}
    {{/each}}
        
</ul>




<h2> Add a Burger!!!</h2>
<form class="create-burger-form">
    <div>
        <label for="ca"> What type of Burger?</label>
        <input type="text" name = "devour" id="ca" name="name">
    </div>
    <div class="form-group">
    <label for="devour">Devour</label><br>
    <input type="radio" name="devour" value="1" checked> Eaten!<br>
    <input type="radio" name="devour" value="0">Ready To Eat 
  </div>
  

    

    <button type="submit">Add the Burger</button>

</form>

